{
    "server":"{{ instance.server }}",
    "server_port":{{ instance.server_port }},
    "local_port":{{ instance.local_port }},
    "password":"{{ lookup('ansible.builtin.password', '/dev/null chars=ascii_lowercase,ascii_lowercase,digits length=16') }}",
    "timeout":{{ instance.timeout }},
    "method":"{{ instance.method }}",
    "mode":"{{ instance.mode }}",
    "fast_open":"{{ instance.fast_open }}",
    "plugin":"{{ instance.plugin }}",
    "plugin_opts":"{{ instance.plugin_obfs }}",
    "reuse_port":"{{ instance.reuse_port }}"
}
